<div #modaldiv class="modal is-active">
    <div class="modal-background">

    </div>

    <div class="modal-content">

        <div class="field has-text-white ">
            <span >{{message}}</span>
        </div>
    </div>

    <div class="field">
        <div class="buttons">
            <button class="button is-success" (click) = afterClosed(true)>Confirma</button>
            <button class="button is-light" (click) = afterClosed(false)>Cancela</button>
        </div>
    </div>

</div>

