
<div class="grid-container">
  <header class="header">
    <div class="header__avatar">iNavigate</div>

    <div class="header__avatar">Your face</div>
  </header>

  <div class="menu-icon">
    <i class="fas fa-bars"></i>
  </div>
  
  <aside class="sidenav">

    <div class="sidenav__close-icon">
      <i class="fas fa-times"></i>
    </div>
    
    <ul class="sidenav__list">

      <li class="sidenav__list-item" (click)="Fabricantelist()">
        <span class="material-icons">perm_contact_calendar</span>
        <span class="item-menu" >Fabricantes</span>
      </li>

      <li class="sidenav__list-item"  (click)="Marcalist()">
        <span class="material-icons">bookmark_added</span>
        <span>Marca</span>
      </li>

      <li class="sidenav__list-item"  (click)="Modelolist()">
        <span class="material-icons">score</span>        
        <span>Modelo</span>
      </li>

      <li class="sidenav__list-item"  (click)="TipoPropriedadeList()">
        <span class="material-icons">view_comfy</span>
        <span>Tipo Popriedade</span>
      </li>

      <li class="sidenav__list-item"  (click)="Propriedadelist()">
        <span class="material-icons">account_balance</span>
        <span>Propriedade</span>
       </li>

       <li class="sidenav__list-item"  (click)="Categorialist()">
        <span class="material-icons">category</span>
         <span>Categoria</span>
       </li>
    </ul>
  </aside>

  <main class="main">

    <router-outlet></router-outlet>
   
  </main>

  <footer class="footer">
    <div class="footer__copyright">&copy; 2021 iNavigate.com.br - Todos os Direitos Reservados.</div>
    <div class="footer__signature">Plannerti</div>    
  </footer>
</div>