<div class="container is-desktop">
    <form [formGroup]="barcoForm">

        <app-stepper #cdkStepper>

            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <fa-icon [icon]="faPerson" size="fa-lg"></fa-icon>
                    </span>
                    <span>Barco</span>
                </ng-template>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Nome da embarcação *</label>
                            <div class="control">
                                <input class="input" type="text" formControlName="nome" placeholder="" required>
                            </div>

                            <div *ngIf="controls.nome.invalid && (controls.nome.dirty || controls.nome.touched)" class="has-text-danger">
                                <div *ngIf="controls.nome.errors.required">
                                    Nome é obrigatorio.
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Modelo *</label>
                            <input class="input" placeholder="Modelo" [formControl]="controls.modeloDescricao"
                                [appAutocomplete]="modelo_autocomplete" required>
                            <div *ngIf="controls.modeloDescricao.invalid && (controls.modeloDescricao.dirty || controls.modeloDescricao.touched)" class="has-text-danger">
                                <div *ngIf="controls.modeloDescricao.errors.required">
                                    Modelo é obrigatorio.
                                </div>
                            </div>
                

                            <app-autocomplete #modelo_autocomplete="appAutocomplete">
                                <ng-template appAutocompleteContent>
                                    <ng-container *ngIf="(optionsModelo | filter: controls.modeloDescricao.value) as modeloResult">
                                        <app-option *ngFor="let option of modeloResult" [value]="option" (click) = "onModeloSelected(option)">
                                            {{ option.label }}
                                        </app-option>
                                        <app-option class="no-result" *ngIf="!modeloResult.length">No result...</app-option>
                                    </ng-container>
                                </ng-template>
                            </app-autocomplete>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Fabricante *</label>
                            <input class="input" placeholder="Sigla" [formControl]="controls.fabricanteNome"
                                [appAutocomplete]="fabricante_autocomplete">
                                <div *ngIf="controls.fabricanteNome.invalid && (controls.fabricanteNome.dirty || controls.fabricanteNome.touched)" class="has-text-danger">
                                    <div *ngIf="controls.fabricanteNome.errors.required">
                                        O fabricante é obrigatorio.
                                    </div>
                                </div>
    
                            <app-autocomplete #fabricante_autocomplete="appAutocomplete">
                                <ng-template appAutocompleteContent>
                                    <ng-container *ngIf="(optionsFabricante | filter: controls.fabricanteNome.value) as fabricanteResult">
                                        <app-option *ngFor="let option of fabricanteResult" [value]="option" (click) = "onSelectedFabricante(option)">
                                            {{ option.label }}
                                        </app-option>
                                        <app-option class="no-result" *ngIf="!fabricanteResult.length">No result...</app-option>
                                    </ng-container>
                                </ng-template>
                            </app-autocomplete>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Categoria *</label>
                            <input class="input" placeholder="Categoria" [formControl]="controls.categoriaDescricao"
                                [appAutocomplete]="categoria_autocomplete">
                                <div *ngIf="controls.categoriaDescricao.invalid && (controls.categoriaDescricao.dirty || controls.categoriaDescricao.touched)" class="has-text-danger">
                                    <div *ngIf="controls.categoriaDescricao.errors.required">
                                        A Categoria é obrigatoria.
                                    </div>
                                </div>
            
                            <app-autocomplete #categoria_autocomplete="appAutocomplete">
                                <ng-template appAutocompleteContent>
                                    <ng-container *ngIf="(optionsCategoria | filter: controls.categoriaDescricao.value) as categoriaResult">
                                        <app-option *ngFor="let option of categoriaResult" [value]="option" (click) = "onCategoriaSelected(option)">
                                            {{ option.label }}
                                        </app-option>
                                        <app-option class="no-result" *ngIf="!categoriaResult.length">No result...</app-option>
                                    </ng-container>
                                </ng-template>
                            </app-autocomplete>
                        </div>
                    </div>

                </div>


                <div class="columns">

                    <div class="column">
                        <div class="field">
                            <label class="label">Ano de fabricação</label>
                            <div class="control">
                                <input class="input" formControlName="anoFabricacao" type="text" placeholder=""
                                    required>
                            </div>
                        </div>

                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Última reforma</label>
                            <div class="control">
                                <input class="input" type="text" formControlName="ultimaReforma" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Tripulação incluída no preço</label>
                            <div class="control">
                              <div class="select is-fullwidth">
                                <select formControlName="tripulacaoIncluidaNoPreco">
                                  <option value=0>NÃO</option>
                                  <option value=1>SIM</option>
                                </select>
                              </div>
                            </div>
                          </div>                        
                    </div>

                </div>

                <footer class="my-footer">
                    <div class="buttons">
                        <button class="button is-outline is-primary" cdkStepperNext (click)="validadeAbaBarco(cdkStepper)">
                            <span> Próximo</span>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
                            </span>
                        </button>
                    </div>
                </footer>

            </cdk-step>

            <cdk-step >
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <fa-icon [icon]="faAddressBook" size="fa-lg"></fa-icon>
                    </span>
                    <span>Configuração</span>
                </ng-template>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Capacidade</label>
                            <div class="control">
                                <input class="input" formControlName="capacidade" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Capacidade para pernoite</label>
                            <div class="control">
                                <input class="input" formControlName="capacidadePernoite" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Número de Cabines</label>
                            <div class="control">
                                <input class="input" formControlName="numeroDeCabines" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Número de banheiros</label>
                            <div class="control">
                                <input class="input" formControlName="numeroDeBanheiros" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                </div>
                <span>Medidas</span>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Cumprimento</label>
                            <div class="control">
                                <input class="input" formControlName="cumprimento" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="field">
                                <label class="label">Boca</label>
                                <div class="control">
                                    <input class="input" formControlName="boca" type="text" placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Calado</label>
                            <div class="control">
                                <input class="input" formControlName="calado" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>

                </div>


                <span>Motor</span>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Tipo combustível</label>
                            <div class="control">
                                <input class="input" formControlName="tipoCombustivel" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Potência</label>
                            <div class="control">
                                <input class="input" formControlName="potencia" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Velocidade de cruzeiro</label>
                            <div class="control">
                                <input class="input" formControlName="velocidadeCruzeiro" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Velocidade de máxima</label>
                            <div class="control">
                                <input class="input" formControlName="velocidadeMaxima" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Consumo médio</label>
                            <div class="control">
                                <input class="input" formControlName="consumoMedio" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>

                </div>

                <span>Depósitos</span>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Água doce</label>
                            <div class="control">
                                <input class="input" formControlName="depositoAguaDoce" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Combustível</label>
                            <div class="control">
                                <input class="input" formControlName="depositoCombustivel" type="text" placeholder="" required>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="my-footer">
                    <div class="buttons">
                        <button type="button" class="button is-outline is-warning" cdkStepperPrevious>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronLeft"> </fa-icon>
                            </span>
                            <span> Anterior</span>
                        </button>

                        <button type="button" class="button is-outline is-primary" cdkStepperNext>
                            <span> Próximo</span>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
                            </span>
                        </button>
                    </div>
                </footer>


            </cdk-step>

            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <fa-icon [icon]="faImages" size="fa-lg"></fa-icon>
                    </span>
                    <span>Acessórios</span>
                </ng-template>

                <p class="panel-heading">
                    Equipamento de convés
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_capotaDodger"> Capota Dodger
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_propulsorProa"> Propulsor de proa
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_guinchosEletricos"> Guinchos elétricos
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_churrasqueira"> Churrasqueira
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_plataformaMergulho"> Plataforma de mergulho
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_bimini"> Bimini
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_flaps"> Flaps
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_ancoraEletrica"> Âncora elétrica
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_velaSpinnaker"> Vela Spinnaker
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_velaGenaker"> Vela Genaker
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_velaRegata"> Vela de Regata
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_velaPrincipalEnrolamentoMastro"> Vela principal com enrolamento no mastro
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_cordaSegurança"> Corda de segurança
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_acessibilidadeCadeirasRodas"> Acessibilidade para cadeiras de rodas
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_jacuzziConves"> Jacuzzi no convés
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_salaCinemaExterior"> Sala de cinema exterior
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_barExterior"> Bar exterior
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_estabilizadorEmbarcacaoAncoragem"> Estabilizador de embarcação na ancoragem
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoConves_estabilizadorEmbarcacaoNavegacao"> Estabilizador de embarcação na navegação
                            </label>
                        </div>
                    </div>

                    <div class="column">
                    </div>

                </div>


                <p class="panel-heading">
                    Equipamento eletrônico
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_pilotoAutomatico"> Piloto automático
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_gerador"> Gerador
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_MP4"> MP4
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_DVDPlayer"> DVD player
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_radar"> Radar
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_TV"> TV
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_autoFalantesCockpit"> Auto-falantes no cockpit
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_GPSPlotter"> GPS Plotter
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_inversor"> Inversor
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_odometro"> Odômetro
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_VHF"> VHF
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_conexaoiPod"> Conexão iPod
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_sondaEcoSonoro"> Sonda (eco-sonoro)
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_anemometro"> Anemômetro
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_GPSPlotterCockpit"> GPS Plotter no cockpit
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_TVCadaCabine"> TV em cada cabine
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_tomada220V"> Tomada 220V
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_WiFiBordo"> WiFi a bordo
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_CD"> CD
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_computador"> Computador
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_telefoneSatelite"> Telefone por satélite
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_TVSalao"> TV no salão
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_IPS"> IPS
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_sistemaPainelEnergiaSolar"> Sistema de painel de energia solar
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_sistemaPurificadorAgua"> Sistema de purificador de água
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="equipamentoEletronico_videoGame"> Video game
                            </label>
                        </div>
                    </div>
                </div>


                <p class="panel-heading">
                    Outros equipamentos
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_aguaQuente"> Água quente
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_microOndas"> Micro-ondas
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_boteAuxiliar"> Bote auxiliar
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_coleteSalvaVidas"> Colete salva-vidas
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_forno"> Forno
                            </label>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_chuveiroConves"> Chuveiro no convés
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_mesaCockpit"> Mesa no cockpit
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_convesTeca"> Convés de teca
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_academia"> Academia
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_aquecedor"> Aquecedor
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_loucas"> Louças
                            </label>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_arCondicionado"> Ar condicionado
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_congelador"> Congelador
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_aquecedorSalao"> Aquecedor no salão
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_cofre"> Cofre
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_cooler"> Cooler
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_cartasNauticas"> Cartas Náuticas
                            </label>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_USBAUX"> USB/AUX
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipametos_motorPopa"> Motor de popa
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_materialCozinha"> Material de cozinha
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_fogaoGas"> Fogão a gás
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_geladeiraEletrica"> Geladeira elétrica
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_elevador"> Elevador
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_servicoTransfer"> Serviço de Transfer
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_ACCabine"> A/C em cada cabine
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_ACSalao"> A/C no salão
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_aquecedorCadaCabine"> Aquecedor em cada cabine
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_equipamentoSeguranca"> Equipamento de segurança
                            </label>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="outrosEquipamentos_radioBeacons"> Rádio Beacons Indicador de Posição de Emergência (EPIRB)
                            </label>
                        </div>
                    </div>

                    <div class="column">
                    </div>

                </div>

                <p class="panel-heading">
                    Entretenimento aquático
                </p>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_jetSki"> Jet ski
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_caiaque"> Caiaque
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_equipamentoPesca"> Equipamento de pesca
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_standPaddle"> Stand up paddle
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_boiaDonut"> Boia Donut
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_seabob"> Seabob
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_boiaBanana"> Boia Banana
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_skisAquaticos"> Skis aquáticos
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_windsurf"> Windsurf
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_bicicleta"> Bicicleta
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_equipamentoSnorkel"> Equipamento de snorkel
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_equipamentoMergulho"> Equipamento de mergulho
                            </label>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="entretenimentoAquatico_skurfer"> Skurfer
                            </label>
                        </div>
                    </div>

                    <div class="column">
                    </div>

                    <div class="column">
                    </div>

                </div>

                <p class="panel-heading">
                    Tripulação
                </p>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_marinheiro"> Marinheiro
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_primeiroOficial"> Primeiro oficial
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_segundoOficial"> Segundo oficial
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_chefe"> Chefe
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_comissáriaBordoChefe"> Comissária de bordo chefe
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_segundaComissariaBordo"> Segunda comissária de bordo
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_terceiraComissariaBordo"> Terceira comissária de bordo
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_engenheiroChefe"> Engenheiro chefe
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_auxiliarMarinheiro"> Auxiliar de marinheiro
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="tripulacao_segundoAuxiliarMarinheiro"> Segundo auxiliar de marinheiro
                            </label>
                        </div>
                    </div>
                </div>

                <p class="panel-heading">
                    Idiomas falado
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_portugues"> Português
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_ingles"> Inglês
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_espanhol"> Espanhol
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_frances"> Francês
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_italiano"> Italiano
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_alemao"> Alemão
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_holandes"> Holandês
                            </label>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_croata"> Croata
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_russo"> Russo
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_chines"> Chinês
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_grego"> Grego
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_arabe"> Árabe
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="idiomasFalado_turco"> Turco
                            </label>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>

                <footer class="my-footer">
                    <div class="buttons">
                        <button type="button" class="button is-outline is-warning" cdkStepperPrevious>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronLeft"> </fa-icon>
                            </span>
                            <span> Anterior</span>
                        </button>

                        <button type="button" class="button is-outline is-primary" (click)="saveBoat()" cdkStepperNext>
                            <span> Próximo</span>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
                            </span>
                        </button>
                    </div>
                </footer>
            </cdk-step>

            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <fa-icon [icon]="faImages" size="fa-lg"></fa-icon>
                    </span>
                    <span>Local</span>
                </ng-template>

                <footer class="footer">
                    <div class="buttons">
                        <button type="button" class="button is-outline is-warning" cdkStepperPrevious>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronLeft"> </fa-icon>
                            </span>
                            <span> Anterior</span>
                        </button>

                    </div>
                </footer>
            </cdk-step>
           
            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <fa-icon [icon]="faImages" size="fa-lg"></fa-icon>
                    </span>
                    <span>Fotos</span>
                </ng-template>

                <app-image-upload [folderName]="controls.barcoId.value" ></app-image-upload>

                <footer class="footer">
                    <div class="buttons">
                        <button type="button" class="button is-outline is-warning" cdkStepperPrevious>
                            <span class="icon medium">
                                <fa-icon [icon]="faChevronLeft"> </fa-icon>
                            </span>
                            <span> Anterior</span>
                        </button>

                    </div>
                </footer>
            </cdk-step>

        </app-stepper>

    </form>
</div>