mat-card::ng-deep.mat-card-header-text {
    width: 100%;
    padding: 0%;
  }

  .esyrNH {
    display: block;
    white-space: nowrap;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 5px;
    padding: 0px 12px;
    color: rgb(0, 0, 0);
}

.mat-card{ 
  width: 256px;
  min-height: 420px;
  align-content: center;
}

.outlook {
  width:100%;
  height:200px;
}

.name {
  font-size: 12px;
  display: block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0px 12px;
}

.ano {
  color: rgb(139, 140, 153);
  font-size: 12px;
  display: block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0px 12px;
}