<div class="card" *ngFor="let barco of gridService.getData()">
<div class="card" (click)="mostrarAnuncio()">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="imageUrl" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <span>Santos - SP</span>
      </div>
    </div>

    <div class="content">
      <div><span class="name">{{barco.nome}}</span></div>
      <div><span class="ano">{{barco.anoFabricacao}}</span></div>
      <div><span class="esyrNH">R$:{{barco.valor}}</span></div>
    </div>
  </div>
</div>
</div>
