body{
    padding: 4.5rem;
    margin: 0;
    background: #b3c8f7;
    background: linear-gradient(90deg, #9c9de7 0,#7e8ff8 58%);
    font-family: 'Inter', sans-serif;
}

.card {
    width:400px;
    height:400px;
    padding: 2rem;
    border-radius: 1rem;

    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10000;
}

.flex-container {
    flex-direction: row;
  }

.calendar-conteiner {
    width: 315px;
    height: 250px;
}

.is-20px {
    width: 48px;
    height: 45px;
}

.inactive {
    opacity: 0.6;
}

.date-picker {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 60px;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height:200px;
    width: 350px;
}

.date-picker .dates .days .day{
    display: flex;
    justify-content: center;
    align-items: center;
}


