<div>

<div id = "#datepickerdiv" class="card">

    <div class="columns is-mobile">
        <div class="column is-full">
            <label (click)="previousMonth()"> <<<< </label>
                    <label>{{date.format('MMMM')}} {{date.format('YYYY')}}</label>
                    <label (click)="nextMonth()">>>></label>
        </div>

    </div>

    <div class="columns is-mobile">
        <div class="column has-text-centered">
            dom
        </div>
        <div class="column has-text-centered">
            seg
        </div>
        <div class="column has-text-centered">
            ter
        </div>
        <div class="column has-text-centered">
            qua
        </div>
        <div class="column has-text-centered">
            qui
        </div>
        <div class="column has-text-centered">
            sex
        </div>
        <div class="column has-text-centered">
            sab
        </div>
    </div>

    <div class="date-picker">
        <div class="dates">
            <div class="days">
                <div class="day" (click)="selectedDate(day)"
                    [ngClass]="{'inactive':!day, 'tag1':todayCheck(day), 'tag':isSelected(day)}"
                    *ngFor="let day of daysCollection">
                    {{day?.date()}}
                </div>
            </div>
        </div>

        <button class="button is-black" (click)="onClose()">Fechar</button>    
    
    </div>
</div>
</div>
