<h1>{{barco}}</h1>

<app-stepper #cdkStepperTemporadas>
            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <!-- <fa-icon [icon]="faImages" size="fa-lg"></fa-icon> -->
                    </span>
                    <span>Calendário</span>
                </ng-template>
    
                <div class="columns">
                    <div class="column">
                        <app-planner-calendar [barcoId]="barcoId"></app-planner-calendar>
                    </div>
                </div>

            </cdk-step>

            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <!-- <fa-icon [icon]="faImages" size="fa-lg"></fa-icon> -->
                    </span>
                    <span>Temporadas</span>
                </ng-template>

                <app-temporada-barco barcoId = {{barcoId}}></app-temporada-barco>
            </cdk-step>

            <cdk-step>
                <ng-template cdkStepLabel>
                    <span class="icon is-medium">
                        <!-- <fa-icon [icon]="faImages" size="fa-lg"></fa-icon> -->
                    </span>
                    <span>Reservas</span>
                </ng-template>

                <div class="columns">
                    <div class="column">
                        <app-reservar-barco barcoId = {{barcoId}}></app-reservar-barco>
                    </div>

                </div>

            </cdk-step>
</app-stepper>