<nav class="breadcrumb">
    <ul>
        <li>
            <a href="painel-mensagens">Painel de mensagens</a>
        </li>
    </ul>
</nav>
<div class="columns">
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th><abbr>Data</abbr></th>
                    <th><abbr>Data pretendida</abbr></th>
                    <th><abbr>Dias</abbr></th>
                    <th><abbr>Marinheiro</abbr></th>
                    <th><abbr>Passageiros</abbr></th>
                    <th><abbr>Nome Remetente</abbr></th>
                    <th><abbr>Email Remetente</abbr></th>
                    <th><abbr>Status</abbr></th>
                    <th><abbr></abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr>Data</abbr></th>
                    <th><abbr>Data pretendida</abbr></th>
                    <th><abbr>Dias</abbr></th>
                    <th><abbr>Marinheiro</abbr></th>
                    <th><abbr>Passageiros</abbr></th>
                    <th><abbr>Nome Remetente</abbr></th>
                    <th><abbr>Email Remetente</abbr></th>
                    <th><abbr>Status</abbr></th>
                    <th><abbr></abbr></th>
                </tr>
            </tfoot>
            <tbody>
                <tr  *ngFor="let mensagem of gridService.getData()">
                    <td><a>{{mensagem.created}}</a></td>
                    <td>{{mensagem.dataPretendida}}</td>
                    <td>{{mensagem.quantidadeDias}}</td>
                    <td>{{mensagem.incluirMarinheiro}}</td>
                    <td>{{mensagem.numeroDePassageiros}}</td>
                    <td>{{mensagem.remetenteNome}}</td>
                    <td>{{mensagem.remetenteEmail}}</td>
                    <td>{{mensagem.status}}</td>
                    <td><a class="button is-small" (click)="edit(barco)">Responder</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>