<div class="is-fixed-top">

  <div class="columns">
    <div class="column is-4-tablet is-3-desktop is-2-widescreen has-text-white" *ngIf="userContextService.isLoged()"  style="background-color: black">

      <div class="navbar-item">
        <span class="has-text-white" >iNavigate-admin</span>
      </div>

    </div>

    <div class="navbar-start" >
      <div class="navbar-item">
        <span class="" >iNavigate/ Área do administrador</span>
      </div>
    </div>

    <div class="navbar-end" >
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          José Cosme
        </div>

        <div class="navbar-dropdown">
            <a class="navbar-item">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                Profile
              </div>
            </a>

            <a class="navbar-item">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                Sign Out
              </div>
            </a>
        </div>
      </div>
    </div>
  

  </div>



  <div class="navbar-menu" >

  </div>
</div>


<section  id="#body">
      <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen has-text-white" *ngIf="userContextService.isLoged()"  style="background-color: #2e323a">
          <nav class="menu hero is-fullheight">

            <ul class="menu-list">
              <li>
                <a (click)="showDashboard()" style="color:#727987">
                  <span class="icon">
                    <fa-icon [icon]="faCog"></fa-icon>
                  </span>
                  Dashboard
                </a>
              </li>
              <li>
                <a (click)="listarBarcos()">
                  <span class="icon">
                    <fa-icon [icon]="faShip"></fa-icon>
                  </span>
                  Barcos
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faCart"></fa-icon>
                  </span>
                  Orçamento
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faReservas"></fa-icon>
                  </span>
                  Reservas
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faMensagens"></fa-icon>
                  </span>
                  Mensagens
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faOpinioes"></fa-icon>
                  </span>
                  Opiniões
                </a>
              </li>
            </ul>
          </nav>
  
        </div>
  
        <div class="column" style="background-color: #f8f8f8;">
            <router-outlet></router-outlet>
        </div>
        
      </div>
    </section>
  

