<footer class="hero is-small is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <a href="https://bulma.io">
            <!-- <img src="assets/iNavigate-logo.png" alt="Bulma Rent" width="80" height="20"> -->

                <img src="assets/iNavigate-logo.png" alt="Made with Bulma" width="171" height="32">
            </a>
            <div class="columns m-t-10">
                <div class="column">
                    <nav class="has-text-grey-light">
                        <a href="#" class="has-text-primary">Sobre nós</a> •
                        <a href="#" class="has-text-primary">Nossa história</a> • 
                        <a href="#" class="has-text-primary">Entre em contato us</a> •
                    </nav>
                </div>
            </div>
            <div class="b-t m-t-30 p-t-30 has-text-grey-light is-size-7">
                iNavigate 2021 &copy; PlannerTi <br> <a href="#" class="has-text-primary">Termos de uso</a> e <a class="has-text-primary" href="#">Politica de privacidade</a>.
                <a href="#" class="has-text-primary"></a>
            </div>
        </div>
    </div>
</footer>