<div class="form-container">
    <app-page-header>{{title}}</app-page-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
           
        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="Descrição" formControlName="descricao" required>
                    <mat-error *ngFor="let validation of modelo_validation_messages.descricao">
                        <mat-error  class="error-message" 
                                    *ngIf="controls.descricao.hasError(validation.type) && (controls.descricao.dirty || controls.descricao.touched)">{{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Altura Banheiro</mat-label>
                    <input matInput placeholder="Altura Banheiro" formControlName="alturaBanheiro" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Altura Cabine</mat-label>
                    <input matInput placeholder="Altura Cabine" formControlName="alturaCabine" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Angule Vpopa Gr</mat-label>
                    <input matInput placeholder="Angule Vpopa Gr" formControlName="anguleVpopaGr" required>
                    
                </mat-form-field>
            </div>

        </div>

        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Banheiro</mat-label>
                    <input matInput placeholder="Banheiro" formControlName="banheiro" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Boca </mat-label>
                    <input matInput placeholder="Boca" formControlName="boca" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Cabine</mat-label>
                    <input matInput placeholder="Cabine" formControlName="cabine" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Calado Min Max</mat-label>
                    <input matInput placeholder="Calado Min Max" formControlName="caladoMinMax" required>
                    
                </mat-form-field>
            </div>

        </div>

        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>CapacidadeCarga</mat-label>
                    <input matInput placeholder="CapacidadeCarga" formControlName="capacidadeCarga" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Casco</mat-label>
                    <input matInput placeholder="Casco" formControlName="casco" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>ComprimentoLOA</mat-label>
                    <input matInput placeholder="ComprimentoLOA" formControlName="comprimentoLOA" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>ComprimentoLWL </mat-label>
                    <input matInput placeholder="ComprimentoLWL" formControlName="comprimentoLWL" required>
                    
                </mat-form-field>
            </div>

        </div>

        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>InicioFimProducao</mat-label>
                    <input matInput placeholder="InicioFimProducao" formControlName="inicioFimProducao" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Motor De Série</mat-label>
                    <input matInput placeholder="Motor De Série" formControlName="motorDeSerie" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Origem </mat-label>
                    <input matInput placeholder="Origem" formControlName="origem" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Peso Leve</mat-label>
                    <input matInput placeholder="Peso Leve" formControlName="pesoLeve" required>
                    
                </mat-form-field>
            </div>

        </div>

        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Potência Máxima</mat-label>
                    <input matInput placeholder="Potencia Máxima" formControlName="potenciaMaxima" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Potência Mínima </mat-label>
                    <input matInput placeholder="Potencia Mínima" formControlName="potenciaMinima" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Projeto </mat-label>
                    <input matInput placeholder="Projeto" formControlName="projeto" required>
                    
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Tanque Água </mat-label>
                    <input matInput placeholder="Tanque Água" formControlName="tanqueAgua" required>
                    
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content">
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Tanque Combustível </mat-label>
                    <input matInput placeholder="Tanque Combustível " formControlName="tanqueCombustivel" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Tripulantes Dia e Noite </mat-label>
                    <input matInput placeholder="Tripulantes Dia e Noite" formControlName="tripulantesDiaNoite" required>
                    
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Velocidade MaximaKm </mat-label>
                    <input matInput placeholder="Velocidade MaximaKm " formControlName="velocidadeMaximaKm" required>
                    
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <button mat-raised-button color="primary" type="submit">Salvar</button>
            </div>
        </div>

    </form>
</div>

