<div class="columns is-variable is-desktop">
    <div class="column">
        <h1 class="title">Dashboard</h1>
    </div>
</div>

<div class="columns is-variable is-desktop">
    <div class="column">
        <div class="card has-background-primary has-text-white">
            <div class="card-header">
                <div class="card-header-title">
                    Visitas
                </div>
                <div class="card-content">
                    <p class="is-size-3">0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    Pedidos
                </div>
                <div class="card-content">
                    <p class="is-size-3">0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    Vendas
                </div>
                <div class="card-content">
                    <p class="is-size-3">0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    Entradas (em Real)
                </div>
                <div class="card-content">
                    <p class="is-size-3">0.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns is-variable">
    <div class="column">
        <div class="card has-background-primary has-text-white">
            <div class="card-header">
                <div class="card-header-title">
                    % Pedidos
                </div>
                <div class="card-content">
                    <p class="is-size-3">0%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    % Orçamento enviado
                </div>
                <div class="card-content">
                    <p class="is-size-3">0%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    % Orçamentos vendidos
                </div>
                <div class="card-content">
                    <p class="is-size-3">0%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card has-background-warning has-text-black">
            <div class="card-header">
                <div class="card-header-title">
                    Dias reservados
                </div>
                <div class="card-content">
                    <p class="is-size-3">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title is-size-6">Reservas pendentes de confirmação</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title is-size-6">Pedidos pendentes de orçamento</p>
            <div class="content">
            </div>
          </article>
        </div>
      </div>

    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title is-size-6">Próximos check-ins</p>
          <div class="content">
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-danger">
            <p class="title is-size-6">Mensagens de clientes pendentes de resposta</p>
          </article>
        </div>
      </div>

    </div>

  </div>
  