<nav class="breadcrumb">
    <ul>
        <li>
            <a href="barco-list">Bloquear um Barco</a>
        </li>
    </ul>
</nav>

<form [formGroup]="bloqueioForm">

    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="field">
                <label class="label">Inicio do bloqueio</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" [plannerDatePicker] =controls.inicio>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Fim do bloqueio</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" [plannerDatePicker]=controls.fim>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
    
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="buttons">
                    <button class="button is-medium is-success"(click)="bloqueio(controls)">Adicionar bloqueio</button>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="card" *ngFor="let bloqueio of gridService.getData()">
                <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">{{bloqueio.barcoDescription}}</p>
                        <p class="subtitle is-6">
                            <time datetime="2021-11-1">Data de Inicio: {{bloqueio.inicio}},
                                 Data Final: {{bloqueio.fim}}</time>
                        </p>
                      </div>
                      <div><span><button class="button is-danger"(click)="excluirBloqueio(bloqueio)">Excluir</button></span></div>
                    </div>
                  </div>                          
            </div>
        </div>
    </div>

</form>