@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import '~@angular/material/theming';

@include mat-core();

* {
  font-family: Poppins,sans-serif;
}


/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Side nav is hidden on mobile */
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

  /* Give every child element its grid name */
.header {
    grid-area: header;
    background-color: #648ca6;
  }

  .sidenav {
    display: none;
    grid-area: sidenav;
    background-color: #394263;
  }
  
  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  
  .footer {
    grid-area: footer;
    background-color: #648ca6;
  }

  .main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
  }

  /* Non-mobile styles, 750px breakpoint */
  @media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }

    .sidenav {
      display: flex;
      flex-direction: column;
    }
  }

  /* Medium-sized screen breakpoint (tablet, 1050px) */
  @media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
  }

  
.app-heading--title {
  font-family: Averta,sans-serif;
  font-size: 33px;
}

.app-header--actions {
  text-align: right;
  font-family: Averta,sans-serif;
  font-size: 16px;
}

.app-header {
  margin-top: 10px;
}

.app-control-full-width {
  width: 100%;
}

.make-gold {
  background-color: gold
}

.form-container{
  padding: 50px;
}
