<h1 class="title">Barcos</h1>
<nav class="level">
    <div class="level-left">
      <p class="level-item">
        <a class="button is-success" (click) = "create()">Novo</a>
      </p>
      <div class="level-item is-hidden-tablet-only">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="">
          </p>
          <p class="control">
            <button class="button">
              Pesquisar
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        Order by
      </div>
      <div class="level-item">
        <div class="select">
          <select>
            <option>Nome</option>
          </select>
        </div>
      </div>
    </div>
  </nav>

  <table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Situação</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Nome</th>
            <th>Situação</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let barco of gridService.getData()">
            <td>
                {{barco.nome}}
            </td>
            <td>
                {{barco.statusDescription}}
            </td>
            <td>
                <div class="buttons">
                <a class="button is-small" (click)="edit(barco)">Edit</a>
                <a class="button is-small" (click)="gerenciarCalendarios(barco)">Calendário</a>
                <a class="button is-small" (click)="anuncio(barco)">Anúncio</a>
                </div>
            </td>
                               
        </tr>
    </tbody>
</table>


