<form [formGroup]="dadosTemporadaForm">
    <div class="columns">
        <div class="column">
            Adicione uma disponibilidade
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Cor *</label>
                <div class="control">
                    <!-- <input class="input" formControlName="cor" type="text" placeholder="" required> -->
                    <app-color-picker></app-color-picker>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.cor">
                <div class="error-message"
                    *ngIf="controls.cor.hasError(validation.type) && (controls.cor.dirty || controls.cor.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Nome da Temporada *</label>
                <div class="control">
                    <input class="input" formControlName="nome" type="text" placeholder="" required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.nome">
                <div class="error-message"
                    *ngIf="controls.nome.hasError(validation.type) && (controls.nome.dirty || controls.nome.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
            
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Inicio *</label>
                <div class="control">
                    <input class="input"  type="text" placeholder="" [plannerDatePicker]=controls.inicio required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.inicio">
                <div class="error-message"
                    *ngIf="controls.inicio.hasError(validation.type) && (controls.inicio.dirty || controls.inicio.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Fim *</label>
                <div class="control">
                    <input class="input" type="text" placeholder=""[plannerDatePicker]=controls.fim required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.fim">
                <div class="error-message"
                    *ngIf="controls.fim.hasError(validation.type) && (controls.fim.dirty || controls.fim.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Minimo de dias *</label>
                <div class="control">
                    <input class="input" formControlName="min_dias" type="text" placeholder="" required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.min_dias">
                <div class="error-message"
                    *ngIf="controls.min_dias.hasError(validation.type) && (controls.min_dias.dirty || controls.min_dias.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>

    </div>

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Valor 1 /2 dia</label>
                <div class="control">
                    <input class="input" formControlName="valor_meio_dia" type="text" placeholder="" required>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Valor dia inteiro *</label>
                <div class="control">
                    <input class="input" formControlName="valor_dia" type="text" placeholder="" required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.valor_dia">
                <div class="error-message"
                    *ngIf="controls.valor_dia.hasError(validation.type) && (controls.valor_dia.dirty || controls.valor_dia.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Valor por semana *</label>
                <div class="control">
                    <input class="input" formControlName="valor_semana" type="text" placeholder="" required>
                </div>
            </div>
            <div class="field" *ngFor="let validation of disponibilidade_validation_messages.valor_semana">
                <div class="error-message"
                    *ngIf="controls.valor_semana.hasError(validation.type) && (controls.valor_semana.dirty || controls.valor_semana.touched)" style="color:red;">
                    {{validation.message}}
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="buttons">
                    <button class="button is-medium is-success" (click)="adicionarTemporada(controls)">Adicionar disponibilidade</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="columns" >
    <div class="column">
        <div class="card" *ngFor="let dados of gridService.getData()">
            <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                        
                    </figure>
                  </div>
                  <div class="media-content" >
                    <div class="columns">
                        <div class="column"><span class="title is-4">{{dados.nome | titlecase   }}</span></div>
                        <div class="column"><span class="title is-6">Periodo:</span><span>{{dados.inicio | date}}  {{dados.fim | date}}</span></div>
                        <div class="column"><span class="title is-6">Mínimo:</span><span> {{dados.minimoDias}} dia(s)</span></div>
                        <div><span><button class="button is-danger" (click)="excluirTemporada(dados)">Excluir</button></span></div>
                    </div>

                    <div class="columns">
                        <div class="column"><span class="title is-6">1/2 dia:</span><span>  {{dados.valorMeioDia | currency:'BRL':true}} </span></div>
                        <div class="column"><span class="title is-6">1 dia:</span><span>  {{dados.valorDiaInteiro | currency:'BRL':true}} </span></div>
                        <div class="column"><span class="title is-6">Semana:</span><span>  {{dados.valorSemana | currency:'BRL':true}} </span></div>
                    </div>
                  </div>
                </div>
              </div>  
                             
        </div>
    </div>
</div>


