<div class="container">

  <div class="section">

    <section class="hero is-large">

      <div class="content is-large">
        <p>{{tituloAnuncio}}</p>
      </div>
      
      <div class="columns is-multiline">
        <div class="column is-one-quarter-desktop is-half-tablet" *ngFor="let image of imagesCollection">
          <div class="card">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img [src]="image">
                  </figure>
              </div>
          </div>
        </div>
      </div>
    </section>

    <div class="columns">
    </div>

  </div>

  <div class="section"> 
    <h1 class="title">Características</h1>

    <div class="columns"> 
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="field">
              <span class="tag is-medium">Marinheiro incluido no preço</span>
            </div>
    
            <div class="field">
              <span class="tag is-medium">Mínimo - 1 dia</span>
            </div>
    
            <div class="field">
              <span class="tag is-medium">1 banheiro</span>
            </div>
    
            <div class="field">
              <span class="tag is-medium">20 lugares</span>
            </div>
          </div>
          <div class="column">
            <div class="column">
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <app-planner-range-date-picker></app-planner-range-date-picker>
          </div>
   
          <div class="column">
            <app-reservar [barcoId]="barcoId"></app-reservar>

          </div>
        </div>

      </div>

    </div>

  </div>
  
  <div class="section"> 
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img class="m-t-50" src="assets/revisoes.JPG">
        </figure>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="columns">
      <div class="column">
        <div class="image">
          <img class="m-t-50" src="assets/localizacao.JPG">
        </div>
      </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>