<nav class="breadcrumb">
    <ul>
        <li>
            <a href="painel-reserva">Painel de reservas</a>
        </li>
    </ul>
</nav>
<div class="columns">
    <div class="column">
        <table class="table table is-fullwidth">
            <thead>
                <tr>
                    <th><abbr>Data</abbr></th>
                    <th><abbr>Cliente</abbr></th>
                    <th><abbr>Barco</abbr></th>
                    <th><abbr>Check-In</abbr></th>
                    <th><abbr>Checkout</abbr></th>
                    <th><abbr>Tipo</abbr></th>
                    <th><abbr>Status</abbr></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr>Data</abbr></th>
                    <th><abbr>Cliente</abbr></th>
                    <th><abbr>Barco</abbr></th>
                    <th><abbr>Check-In</abbr></th>
                    <th><abbr>Checkout</abbr></th>
                    <th><abbr>Tipo</abbr></th>
                    <th><abbr>Status</abbr></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                <tr  *ngFor="let reserva of gridService.getData()">
                    <td><a>{{reserva.created}}</a></td>
                    <td>{{reserva.clienteId}}</td>
                    <td>{{reserva.barcoDescription}}</td>
                    <td>{{reserva.inicio}}</td>
                    <td>{{reserva.fim}}</td>
                    <td>{{reserva.tipoDescription}}</td>
                    <td>{{reserva.statusDescription}}</td>
                    <td><a class="button is-small" (click)="create(reserva)" *ngIf="reserva.status == 0">Confirmar</a></td>
                    <td><a class="button is-small" (click)="cancelarReserva(reserva)" *ngIf="reserva.status == 0">Cancelar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>