body{
    padding: 4.5rem;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.range {
    width:750px;
    height:400px;
    padding: 2rem;
}

.flex-container {
    flex-direction: row;
  }

.calendar-conteiner {
    width: 315px;
    height: 250px;
}

.is-20px {
    width: 48px;
    height: 45px;
}

.inactive {
    opacity: 0.6;
}

.date-picker {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 60px;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: 40px 40px repeat(7, 1fr);
    grid-template-rows: 40px ;
    height:200px;
    width: 350px;
}

.date-picker .dates .days .day{
    display: flex;
    justify-content: center;
    align-items: center;
}

.day{
    width: 42px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
}

.selected {
    background-color: black;
    color:white;
    border-radius: 25px;
}

.reserved {
    background-color: rgb(223, 217, 217);
}

.blocked {
    text-decoration: line-through !important;
}
