<div>

    <div id="#datepickerdiv" class="range">
        <div class="columns">

            <div class="column">
                <div>
                    <fa-icon (click)="previousMonth()" [icon]="chevronLeft"></fa-icon>
                    <label>{{date1.format('MMMM')}}
                        {{date1.format('YYYY')}}</label>
                </div>

                <div class="columns">
                    <div class="column">
                        <table>
                            <thead>
                                <tr>
                                    <th>dom</th>
                                    <th>seg</th>
                                    <th>ter</th>
                                    <th>qua</th>
                                    <th>qui</th>
                                    <th>sex</th>
                                    <th>sab</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection1[0])"
                                        [ngClass]="displayDayV2(daysCollection1[0])">
                                        {{daysCollection1[0]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[1])"
                                    [ngClass]="displayDayV2(daysCollection1[1])">
                                    {{daysCollection1[1]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[2])"
                                    [ngClass]="displayDayV2(daysCollection1[2])">
                                    {{daysCollection1[2]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[3])"
                                    [ngClass]="displayDayV2(daysCollection1[2])">
                                        {{daysCollection1[3]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[4])"
                                        [ngClass]="displayDayV2(daysCollection1[4])">
                                        {{daysCollection1[4]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[5])"
                                        [ngClass]="displayDayV2(daysCollection1[5])">
                                        {{daysCollection1[5]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection1[6])"
                                        [ngClass]="displayDayV2(daysCollection1[6])">
                                        {{daysCollection1[6]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection1[7])"
                                        [ngClass]="displayDayV2(daysCollection1[7])">
                                        {{daysCollection1[7]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[8])"
                                        [ngClass]="displayDayV2(daysCollection1[8])">
                                        {{daysCollection1[8]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[9])"
                                        [ngClass]="displayDayV2(daysCollection1[9])">
                                        {{daysCollection1[9]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[10])"
                                        [ngClass]="displayDayV2(daysCollection1[10])">
                                        {{daysCollection1[10]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[11])"
                                        [ngClass]="displayDayV2(daysCollection1[11])">
                                        {{daysCollection1[11]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[12])"
                                        [ngClass]="displayDayV2(daysCollection1[12])">
                                        {{daysCollection1[12]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[13])"
                                        [ngClass]="displayDayV2(daysCollection1[13])">
                                        {{daysCollection1[13]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection1[14])"
                                        [ngClass]="displayDayV2(daysCollection1[14])">
                                        {{daysCollection1[14]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[15])"
                                        [ngClass]="displayDayV2(daysCollection1[15])">
                                        {{daysCollection1[15]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[16])"
                                        [ngClass]="displayDayV2(daysCollection1[16])">
                                        {{daysCollection1[16]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[17])"
                                        [ngClass]="displayDayV2(daysCollection1[17])">
                                        {{daysCollection1[17]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[18])"
                                        [ngClass]="displayDayV2(daysCollection1[18])">
                                        {{daysCollection1[18]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[19])"
                                        [ngClass]="displayDayV2(daysCollection1[19])">
                                        {{daysCollection1[19]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[20])"
                                        [ngClass]="displayDayV2(daysCollection1[20])">
                                        {{daysCollection1[20]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection1[21])"
                                        [ngClass]="displayDayV2(daysCollection1[21])">
                                        {{daysCollection1[21]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[22])"
                                        [ngClass]="displayDayV2(daysCollection1[22])">
                                        {{daysCollection1[22]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[23])"
                                        [ngClass]="displayDayV2(daysCollection1[23])">
                                        {{daysCollection1[23]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[24])"
                                        [ngClass]="displayDayV2(daysCollection1[24])">
                                        {{daysCollection1[24]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[25])"
                                        [ngClass]="displayDayV2(daysCollection1[25])">
                                        {{daysCollection1[25]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[26])"
                                        [ngClass]="displayDayV2(daysCollection1[26])">
                                        {{daysCollection1[26]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[27])"
                                        [ngClass]="displayDayV2(daysCollection1[27])">
                                        {{daysCollection1[27]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection1[28])"
                                        [ngClass]="displayDayV2(daysCollection1[28])">
                                        {{daysCollection1[28]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[29])"
                                        [ngClass]="displayDayV2(daysCollection1[29])">
                                        {{daysCollection1[29]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[30])"
                                        [ngClass]="displayDayV2(daysCollection1[30])">
                                        {{daysCollection1[30]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[31])"
                                        [ngClass]="displayDayV2(daysCollection1[31])">
                                        {{daysCollection1[31]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[32])"
                                        [ngClass]="displayDayV2(daysCollection1[32])">
                                        {{daysCollection1[32]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[33])"
                                        [ngClass]="displayDayV2(daysCollection1[33])">
                                        {{daysCollection1[33]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection1[34])"
                                        [ngClass]="displayDayV2(daysCollection1[34])">
                                        {{daysCollection1[34]?.date()}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="has-text-right">
                    <label>{{date2.format('MMMM')}}{{date2.format('YYYY')}}</label>
                    <fa-icon (click)="nextMonth()" [icon]="chevronRight"></fa-icon>
                </div>

                <div class="columns">

                    <div class="columns">
                        <div class="column">
                            
                        </div>
                    </div>

                    <div class="column">
                        <table style="float: right; padding-right: 0px;">
                            <thead>
                                <tr>
                                    <th>dom</th>
                                    <th>seg</th>
                                    <th>ter</th>
                                    <th>qua</th>
                                    <th>qui</th>
                                    <th>sex</th>
                                    <th>sab</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection2[0])"
                                        [ngClass]="displayDayV2(daysCollection2[0])">
                                        {{daysCollection2[0]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[1])"
                                        [ngClass]="displayDayV2(daysCollection2[1])">
                                        {{daysCollection2[1]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[2])"
                                        [ngClass]="displayDayV2(daysCollection2[2])">
                                        {{daysCollection2[2]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[3])"
                                        [ngClass]="displayDayV2(daysCollection2[3])">
                                        {{daysCollection2[3]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[4])"
                                        [ngClass]="displayDayV2(daysCollection2[4])">
                                        {{daysCollection2[4]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[5])"
                                        [ngClass]="displayDayV2(daysCollection2[5])">
                                        {{daysCollection2[5]?.date()}}
                                    </td>
                                    <td class="day" (click)="clickDay(daysCollection2[6])"
                                        [ngClass]="displayDayV2(daysCollection2[6])">
                                        {{daysCollection2[6]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection2[7])"
                                        [ngClass]="displayDayV2(daysCollection2[7])">
                                        {{daysCollection2[7]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[8])"
                                        [ngClass]="displayDayV2(daysCollection2[8])">
                                        {{daysCollection2[8]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[9])"
                                        [ngClass]="displayDayV2(daysCollection2[9])">
                                        {{daysCollection2[9]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[10])"
                                        [ngClass]="displayDayV2(daysCollection2[10])">
                                        {{daysCollection2[10]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[11])"
                                        [ngClass]="displayDayV2(daysCollection2[11])">
                                        {{daysCollection2[11]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[12])"
                                        [ngClass]="displayDayV2(daysCollection2[12])">
                                        {{daysCollection2[12]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[13])"
                                        [ngClass]="displayDayV2(daysCollection2[13])">
                                        {{daysCollection2[13]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection2[14])"
                                        [ngClass]="displayDayV2(daysCollection2[14])">
                                        {{daysCollection2[14]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[15])"
                                        [ngClass]="displayDayV2(daysCollection2[15])">
                                        {{daysCollection2[15]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[16])"
                                        [ngClass]="displayDayV2(daysCollection2[16])">
                                        {{daysCollection2[16]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[17])"
                                        [ngClass]="displayDayV2(daysCollection2[17])">
                                        {{daysCollection2[17]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[18])"
                                        [ngClass]="displayDayV2(daysCollection2[18])">
                                        {{daysCollection2[18]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[19])"
                                        [ngClass]="displayDayV2(daysCollection2[19])">
                                        {{daysCollection2[19]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[20])"
                                        [ngClass]="displayDayV2(daysCollection2[20])">
                                        {{daysCollection2[20]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection2[21])"
                                        [ngClass]="displayDayV2(daysCollection2[21])">
                                        {{daysCollection2[21]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[22])"
                                        [ngClass]="displayDayV2(daysCollection2[22])">
                                        {{daysCollection2[22]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[23])"
                                        [ngClass]="displayDayV2(daysCollection2[23])">
                                        {{daysCollection2[23]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[24])"
                                        [ngClass]="displayDayV2(daysCollection2[24])">
                                        {{daysCollection2[24]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[25])"
                                        [ngClass]="displayDayV2(daysCollection2[25])">
                                        {{daysCollection2[25]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[26])"
                                        [ngClass]="displayDayV2(daysCollection2[26])">
                                        {{daysCollection2[26]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[27])"
                                        [ngClass]="displayDayV2(daysCollection2[27])">
                                        {{daysCollection2[27]?.date()}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="day" (click)="clickDay(daysCollection2[28])"
                                        [ngClass]="displayDayV2(daysCollection2[28])">
                                        {{daysCollection2[28]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[29])"
                                        [ngClass]="displayDayV2(daysCollection2[29])">
                                        {{daysCollection2[29]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[30])"
                                        [ngClass]="displayDayV2(daysCollection2[30])">
                                        {{daysCollection2[30]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[31])"
                                        [ngClass]="displayDayV2(daysCollection2[31])">
                                        {{daysCollection2[31]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[32])"
                                        [ngClass]="displayDayV2(daysCollection2[32])">
                                        {{daysCollection2[32]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[33])"
                                        [ngClass]="displayDayV2(daysCollection2[33])">
                                        {{daysCollection2[33]?.date()}}
                                    </td>

                                    <td class="day" (click)="clickDay(daysCollection2[34])"
                                        [ngClass]="displayDayV2(daysCollection2[34])">
                                        {{daysCollection2[34]?.date()}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <div class="columns">
            <div class="column">
                <button class="button is-light" (click)="limparDatas()">Limpar datas</button>
            </div>
        </div>
    </div>
</div>