body{
    padding: 4.5rem;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.day{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}

.calendar-conteiner {
    border-style: solid;
    border-width: 1px;
    
    margin-bottom: 10px;
}

.available {
    background-color: #7cc6f8;
}

.blocked {
    background-color: red;
}
