<div class="columns">

    <div class="column">
        <div>
            <label>{{currentDate.format('MMMM')}}
                {{currentDate.format('YYYY')}}</label>
        </div>

        <div class="columns">
            <div class="column">
                <table class="calendar-conteiner">
                    <thead>
                        <tr>
                            <th>dom</th>
                            <th>seg</th>
                            <th>ter</th>
                            <th>qua</th>
                            <th>qui</th>
                            <th>sex</th>
                            <th>sab</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="day" (click)="clickDay(daysCollection1[0])"
                                [ngClass]="displayDayV2(daysCollection1[0])">
                                {{daysCollection1[0]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[1])"
                            [ngClass]="displayDayV2(daysCollection1[1])">
                            {{daysCollection1[1]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[2])"
                            [ngClass]="displayDayV2(daysCollection1[2])">
                            {{daysCollection1[2]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[3])"
                            [ngClass]="displayDayV2(daysCollection1[2])">
                                {{daysCollection1[3]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[4])"
                                [ngClass]="displayDayV2(daysCollection1[4])">
                                {{daysCollection1[4]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[5])"
                                [ngClass]="displayDayV2(daysCollection1[5])">
                                {{daysCollection1[5]?.date()}}
                            </td>
                            <td class="day" (click)="clickDay(daysCollection1[6])"
                                [ngClass]="displayDayV2(daysCollection1[6])">
                                {{daysCollection1[6]?.date()}}
                            </td>
                        </tr>

                        <tr>
                            <td class="day" (click)="clickDay(daysCollection1[7])"
                                [ngClass]="displayDayV2(daysCollection1[7])">
                                {{daysCollection1[7]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[8])"
                                [ngClass]="displayDayV2(daysCollection1[8])">
                                {{daysCollection1[8]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[9])"
                                [ngClass]="displayDayV2(daysCollection1[9])">
                                {{daysCollection1[9]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[10])"
                                [ngClass]="displayDayV2(daysCollection1[10])">
                                {{daysCollection1[10]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[11])"
                                [ngClass]="displayDayV2(daysCollection1[11])">
                                {{daysCollection1[11]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[12])"
                                [ngClass]="displayDayV2(daysCollection1[12])">
                                {{daysCollection1[12]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[13])"
                                [ngClass]="displayDayV2(daysCollection1[13])">
                                {{daysCollection1[13]?.date()}}
                            </td>
                        </tr>

                        <tr>
                            <td class="day" (click)="clickDay(daysCollection1[14])"
                                [ngClass]="displayDayV2(daysCollection1[14])">
                                {{daysCollection1[14]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[15])"
                                [ngClass]="displayDayV2(daysCollection1[15])">
                                {{daysCollection1[15]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[16])"
                                [ngClass]="displayDayV2(daysCollection1[16])">
                                {{daysCollection1[16]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[17])"
                                [ngClass]="displayDayV2(daysCollection1[17])">
                                {{daysCollection1[17]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[18])"
                                [ngClass]="displayDayV2(daysCollection1[18])">
                                {{daysCollection1[18]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[19])"
                                [ngClass]="displayDayV2(daysCollection1[19])">
                                {{daysCollection1[19]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[20])"
                                [ngClass]="displayDayV2(daysCollection1[20])">
                                {{daysCollection1[20]?.date()}}
                            </td>
                        </tr>

                        <tr>
                            <td class="day" (click)="clickDay(daysCollection1[21])"
                                [ngClass]="displayDayV2(daysCollection1[21])">
                                {{daysCollection1[21]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[22])"
                                [ngClass]="displayDayV2(daysCollection1[22])">
                                {{daysCollection1[22]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[23])"
                                [ngClass]="displayDayV2(daysCollection1[23])">
                                {{daysCollection1[23]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[24])"
                                [ngClass]="displayDayV2(daysCollection1[24])">
                                {{daysCollection1[24]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[25])"
                                [ngClass]="displayDayV2(daysCollection1[25])">
                                {{daysCollection1[25]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[26])"
                                [ngClass]="displayDayV2(daysCollection1[26])">
                                {{daysCollection1[26]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[27])"
                                [ngClass]="displayDayV2(daysCollection1[27])">
                                {{daysCollection1[27]?.date()}}
                            </td>
                        </tr>

                        <tr>
                            <td class="day" (click)="clickDay(daysCollection1[28])"
                                [ngClass]="displayDayV2(daysCollection1[28])">
                                {{daysCollection1[28]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[29])"
                                [ngClass]="displayDayV2(daysCollection1[29])">
                                {{daysCollection1[29]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[30])"
                                [ngClass]="displayDayV2(daysCollection1[30])">
                                {{daysCollection1[30]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[31])"
                                [ngClass]="displayDayV2(daysCollection1[31])">
                                {{daysCollection1[31]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[32])"
                                [ngClass]="displayDayV2(daysCollection1[32])">
                                {{daysCollection1[32]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[33])"
                                [ngClass]="displayDayV2(daysCollection1[33])">
                                {{daysCollection1[33]?.date()}}
                            </td>

                            <td class="day" (click)="clickDay(daysCollection1[34])"
                                [ngClass]="displayDayV2(daysCollection1[34])">
                                {{daysCollection1[34]?.date()}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

