<div id="cabecalho">
    <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
  
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="rent.html">
              <!-- <img src="assets/iNavigate-logo.png" alt="Bulma Rent" width="80" height="20"> -->
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTopMain">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>          
        </div>

        <div class="navbar-menu" id="navbarTopMain">
          <div class="navbar-end">
            <a href="#" class="navbar-item has-text-weight-semibold">
              <span>Blog</span>
              <span class="tag is-success m-l-5">NEW</span>
            </a>

            <div class="navbar-item">
            <a (click)="loginProprietario()" class="button is-primary">
              Área do proprietário
            </a>
          </div>
        </div>
      </div>
      </nav>
</div>

<div class="columns is-centered">
    <div class="column is-half">
        <form [formGroup]="registerForm">

            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                    <input class="input" type="text" formControlName="nome" >
                </div>
            </div>

            <div class="field">
                <label class="label">Celular</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="Celular" formControlName="celular" required>
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faPhone"></fa-icon>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="Email" formControlName="email">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="Senha">
                    <label class="label">Senha</label>
                    <div class="control">
                        <input class="input" type="password" formControlName="senha">
                    </div>
                </div>
                </div>

            <div class="field">
                <div class="Confirmar senha">
                    <label class="label">Confirmar senha</label>
                    <div class="control">
                        <input class="input" type="password" formControlName="senhaConfirmacao">
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary"  (click)="registrar()">Registrar</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" (click)="gotoHome()">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>


</div>
