<div class="navbar-brand is-fixed-top box-shadow-y">
    <a class="navbar-item">
      <img src="assets/iNavigate-logo.png">
    </a>
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <span class="title is-4">iNavigate/ Área do proprietário</span>
        </div>
      </div>
  
      <div class="navbar-end">

        <div class="field" *ngIf="!userContextService.isLoged()">
          <div class="buttons"  >
              <button class="button is-success is-fullwidth" (click)=cadastrarBarco()>Cadastre seu barco</button>
          </div>
      </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            José Cosme
          </div>
          <div class="navbar-dropdown">
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  Profile
                </div>
              </a>
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-bug"></i>
                  </span>
                  Report bug
                </div>
              </a>
              <a class="navbar-item">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-sign-out"></i>
                  </span>
                  Sign Out
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
    <section class="section" id="#body">
      <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen" *ngIf="userContextService.isLoged()">
          <nav class="menu hero">

            <ul class="menu-list">
              <li>
                <a (click)="showDashboard()">
                  <span class="icon">
                    <fa-icon [icon]="faCog"></fa-icon>
                  </span>
                  Dashboard
                </a>
              </li>
              <li>
                <a (click)="listarBarcos()">
                  <span class="icon">
                    <fa-icon [icon]="faShip"></fa-icon>
                  </span>
                  Barcos
                </a>
              </li>
              <li>
                <a (click)="painelMensagens()">
                  <span class="icon">
                    <fa-icon [icon]="faMensagens"></fa-icon>
                  </span>
                  Mensagens
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faCart"></fa-icon>
                  </span>
                  Orçamento
                </a>
              </li>
              <li>
                <a (click)="painelReservas()">
                  <span class="icon">
                    <fa-icon [icon]="faReservas"></fa-icon>
                  </span>
                  Reservas
                </a>
              </li>
              <li>
                <a>
                  <span class="icon">
                    <fa-icon [icon]="faOpinioes"></fa-icon>
                  </span>
                  Opiniões
                </a>
              </li>
            </ul>
          </nav>
  
        </div>
  
        <div class="column is-primary">
            <router-outlet></router-outlet>
        </div>
        
      </div>
    </section>
  

