<div class="select is-fullwidth">
    <select (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}">
        <option *ngFor="let color of colors" [value]="color.value" [ngStyle]="{'background-color':color.value}"></option>
    </select>
</div>                        

