<h1>{{barco}}</h1>

<form [formGroup]="dadosAnunciosForm">
    <div class="columns">
        <div class="column">
            Adicione um anúncio
        </div>
    </div>

    
        <div class="column">
            <div class="field">
                <label class="label">Titulo do Anúncio*</label>
                <div class="control">
                    <input class="input" formControlName="tituloAnuncio" type="text" placeholder="" required>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="field">
                <label class="label">Texto*</label>
                <div class="control">
                    <input class="input" formControlName="tipoAnuncio" type="text" placeholder="" required>
                </div>
            </div>
        </div>

    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="buttons">
                    <button class="button is-medium is-success" (click)="salvar()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>