<div class="form-container">
    <app-page-header>{{title}}</app-page-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
           
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="Descrição" formControlName="descricao" required>
                    <mat-error *ngFor="let validation of propriedade_validation_messages.descricao">
                        <mat-error  class="error-message" 
                                    *ngIf="controls.descricao.hasError(validation.type) && (controls.descricao.dirty || controls.descricao.touched)">{{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <input matInput placeholder="Tipo" formControlName="tipo" required>
                   
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Valor</mat-label>
                    <input matInput placeholder="Valor" formControlName="valor" required>
                    
                </mat-form-field>
            </div>
        </div>
    
            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Estado Conservação</mat-label>
                        <input matInput placeholder="Estado Conservação" formControlName="estadoConservacao" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.estadoConservacao">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.estadoConservacao.hasError(validation.type) && (controls.estadoConservacao.dirty || controls.estadoConservacao.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input matInput placeholder="Modelo" formControlName="modeloId" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.modeloId">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.modeloId.hasError(validation.type) && (controls.modeloId.dirty || controls.modeloId.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Tipo Combustivel</mat-label>
                        <input matInput placeholder="Tipo Combustivel" formControlName="tipoCombustivel" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.tipoCombustivel">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.tipoCombustivel.hasError(validation.type) && (controls.tipoCombustivel.dirty || controls.tipoCombustivel.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Tamanho</mat-label>
                        <input matInput placeholder="Tamanho" formControlName="tamanho" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.tamanho">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.tamanho.hasError(validation.type) && (controls.tamanho.dirty || controls.tamanho.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>PassageirosDia</mat-label>
                        <input matInput placeholder="Passageiros Dia" formControlName="passageiroDia" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.descricao">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.passageiroDia.hasError(validation.type) && (controls.passageiroDia.dirty || controls.passageiroDia.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                    <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Passageiros Noite</mat-label>
                        <input matInput placeholder="Passageiros Noite" formControlName="passageiroNoite" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.passageiroNoite">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.passageiroNoite.hasError(validation.type) && (controls.passageiroNoite.dirty || controls.passageiroNoite.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Motor</mat-label>
                        <input matInput placeholder="Motor" formControlName="motor" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.motor">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.motor.hasError(validation.type) && (controls.motor.dirty || controls.motor.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Marca</mat-label>
                        <input matInput placeholder="Marca" formControlName="marca" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.marca">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.marca.hasError(validation.type) && (controls.marca.dirty || controls.marca.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>AcessoriosEquipamentos</mat-label>
                        <input matInput placeholder="Acessorios Equipamentos" formControlName="acessorioEquipamento" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.acessorioEquipamento">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.acessorioEquipamento.hasError(validation.type) && (controls.acessorioEquipamento.dirty || controls.acessorioEquipamento.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <mat-form-field class="app-control-full-width" appearance="outline">
                        <mat-label>Comunicação Navegação</mat-label>
                        <input matInput placeholder="Comunicação Navegação" formControlName="comunicacaoNavegacao" required>
                        <mat-error *ngFor="let validation of propriedade_validation_messages.comunicacaoNavegacao">
                            <mat-error  class="error-message" 
                                        *ngIf="controls.comunicacaoNavegacao.hasError(validation.type) && (controls.comunicacaoNavegacao.dirty || controls.comunicacaoNavegacao.touched)">{{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                    <div class="col-6">
                        <mat-form-field class="app-control-full-width" appearance="outline">
                            <mat-label>Eletronicos</mat-label>
                            <input matInput placeholder="Eletronicos" formControlName="eletronico" required>
                            <mat-error *ngFor="let validation of propriedade_validation_messages.eletronico">
                                <mat-error  class="error-message" 
                                            *ngIf="controls.eletronico.hasError(validation.type) && (controls.eletronico.dirty || controls.eletronico.touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <mat-form-field class="app-control-full-width" appearance="outline">
                            <mat-label>Quanto já rodou</mat-label>
                            <input matInput placeholder="Quanto já rodou" formControlName="quantoJaRodou" required>
                            <mat-error *ngFor="let validation of propriedade_validation_messages.quantoJaRodou">
                                <mat-error  class="error-message" 
                                            *ngIf="controls.quantoJaRodou.hasError(validation.type) && (controls.quantoJaRodou.dirty || controls.quantoJaRodou.touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <mat-form-field class="app-control-full-width" appearance="outline">
                            <mat-label>Localização</mat-label>
                            <input matInput placeholder="Localização" formControlName="localizacao" required>
                            <mat-error *ngFor="let validation of propriedade_validation_messages.localizacao">
                                <mat-error  class="error-message" 
                                            *ngIf="controls.localizacao.hasError(validation.type) && (controls.localizacao.dirty || controls.localizacao.touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


        <div class="row justify-content-center">
            <div class="col-6">
                <button mat-raised-button color="primary" type="submit">Salvar</button>
            </div>
        </div>

    </form>
</div>

