<nav class="breadcrumb">
    <ul>
        <li>
            <a href="barco-list">Barco</a>
        </li>
        <li class="is-active">
            <span>Novo barco</span>
        </li>
    </ul>
</nav>

<app-barco-form></app-barco-form>
<br>



