<div class="columns">
    <div class="column">
        <app-planner-month [barcoId]="barcoId" [year]="currentYear()" month="1"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="2"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="3"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="4"></app-planner-month>
    </div>
</div>

<div class="columns">
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="5"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="6"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="7"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="8"></app-planner-month>
    </div>
</div>

<div class="columns">
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="9"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="10"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="11"></app-planner-month>
    </div>
    <div class="column">
        <app-planner-month [barcoId]="barcoId"  [year]="currentYear()" month="12"></app-planner-month>
    </div>
</div>
