<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <form [formGroup]="loginForm">

                <div class="columns is-centered">
                    <div class="column is-3">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email" formControlName="email">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faEmail"></fa-icon>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" formControlName="password">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faSenha"></fa-icon>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <div class="buttons">
                                <button class="button is-success is-fullwidth" (click)=onSubmit()>Entrar</button>
                            </div>
                        </div>

                        <!-- <div class="field">
                        <div class="buttons">
                            <button class="button is-light  is-fullwidth">Criar uma conta</button>
                        </div>
                    </div> -->

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
