<div class="modal" #modalSolicitarInformacoes>
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Solicitar informações</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        <form [formGroup]="mensagemForm"> 
        <div class="columns"> 
          <div class="column">
            <div class="field">
  
              <label class="label">Data de Ínicio</label>
              <div class="control">
                  <input class="input" formControlName="dataPretendida"  type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
  
          <div class="column">
            <div class="field">
  
              <label class="label">Quantidade dias</label>
              <div class="control">
                  <input class="input" formControlName="numeroDias"  type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
  
        </div>
  
        <div class="columns"> 
          <div class="column">
            <div class="field">
              <label class="label">Incluir  Marinheiro?</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select formControlName="incluirMarinheiro">
                    <option value=0>NÃO</option>
                    <option value=1>SIM</option>
                  </select>
                </div>
              </div>
            </div>            
          </div>
  
          <div class="column">
            <div class="field">
  
              <label class="label">Número de pessoas</label>
              <div class="control">
                  <input class="input" formControlName="numeroPassageiros"  type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
  
        </div>
  
        <div class="columns"> 
          <div class="column">
            <div class="field">
  
              <label class="label">Nome</label>
              <div class="control">
                  <input class="input" formControlName="remetenteNome"  type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="columns"> 
  
          <div class="column">
            <div class="field">
  
              <label class="label">E-mail</label>
              <div class="control">
                  <input class="input"  formControlName="remetenteEmail" type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
  
        </div>
  
        <div class="columns"> 
  
          <div class="column">
            <div class="field">
  
              <label class="label">Telefone</label>
              <div class="control">
                  <input class="input" formControlName="remetenteTelefone" type="text" placeholder=""
                      required>
              </div>
  
            </div>
          </div>
  
        </div>
      </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="enviarMensagem()">Enviar</button>
        <button class="button" (click)="closeModal()">Cancelar</button>
      </footer>
    </div>
  </div>
  
