<div class="form-container">
    <app-page-header>{{title}}</app-page-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
           
        <div class="row justify-content-center">
            <div class="col-4">
                <mat-form-field class="app-control-full-width" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="nome" required>
                    <mat-error *ngFor="let validation of estado_validation_messages.nome">
                        <mat-error  class="error-message" 
                                    *ngIf="controls.nome.hasError(validation.type) && (controls.nome.dirty || controls.nome.touched)">{{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <button mat-raised-button color="primary" type="submit">Salvar</button>
            </div>
        </div>

    </form>
</div>
