<div style="padding: 10px; background-color: white;">
    <form [formGroup]="barcoForm">

        <p class="panel-heading">
            <span>Barco</span>
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Nome da embarcação</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="nome" placeholder="" required>
                    </div>

                    <div *ngIf="controls.nome.invalid && (controls.nome.dirty || controls.nome.touched)"
                        class="has-text-danger">

                        <div *ngIf="controls.nome.errors.required">
                            Nome é obrigatorio.
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Fabricante</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="fabricante" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Modelo</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="modelo" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Ano de fabricação</label>
                    <div class="control">
                        <input class="input" formControlName="anoFabricacao" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

        </div>

        <div class="columns">

            <div class="column">
                <div class="field">
                    <label class="label">Última reforma</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="ultimaReforma" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Tipo</label>
                    <div class="control">
                        <input class="input" formControlName="tipo" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Tripulação incluída no preço</label>
                    <div class="control">
                        <input class="input" formControlName="tripulacaoIncluidaPreco" type="text" placeholder=""
                            required>
                    </div>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Capacidade</label>
                    <div class="control">
                        <input class="input" formControlName="capacidade" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Capacidade para pernoite</label>
                    <div class="control">
                        <input class="input" formControlName="capacidadePernoite" type="text" placeholder="" required>
                    </div>
                </div>
            </div>


        </div>


        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Número de Cabines</label>
                    <div class="control">
                        <input class="input" formControlName="numeroCabines" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Número de banheiros</label>
                    <div class="control">
                        <input class="input" formControlName="numeroBanheiros" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

        </div>

        <p class="panel-heading">
            <span>Medidas</span>
        </p>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Cumprimento</label>
                    <div class="control">
                        <input class="input" formControlName="cumprimento" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <div class="field">
                        <label class="label">Boca</label>
                        <div class="control">
                            <input class="input" formControlName="boca" type="text" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Calado</label>
                    <div class="control">
                        <input class="input" formControlName="calado" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

        </div>

        <p class="panel-heading">
            <span>Motor</span>
        </p>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Tipo combustível</label>
                    <div class="control">
                        <input class="input" formControlName="tipoCombustivel" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Potência</label>
                    <div class="control">
                        <input class="input" formControlName="potencia" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Velocidade de cruzeiro</label>
                    <div class="control">
                        <input class="input" formControlName="velocidadeCruzeiro" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Velocidade de máxima</label>
                    <div class="control">
                        <input class="input" formControlName="velocidadeMaxima" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Consumo médio</label>
                    <div class="control">
                        <input class="input" formControlName="consumoMedio" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

        </div>

        <p class="panel-heading">
            <span>Depósitos</span>
        </p>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Água doce</label>
                    <div class="control">
                        <input class="input" formControlName="depositoAguaDoce" type="text" placeholder="" required>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Combustível</label>
                    <div class="control">
                        <input class="input" formControlName="depositoCombustivel" type="text" placeholder="" required>
                    </div>
                </div>
            </div>
        </div>

        <p class="panel-heading">
            Equipamento de convés
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Capota Dodger
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Propulsor de proa
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Guinchos elétricos
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Churrasqueira
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Plataforma de mergulho
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Bimini
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Flaps
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Âncora elétrica
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Vela Spinnaker
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Vela Genaker
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Vela de Regata
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Vela principal com enrolamento no mastro
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Corda de segurança
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Acessibilidade para cadeiras de rodas
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Jacuzzi no convés
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Sala de cinema exterior
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Bar exterior
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Estabilizador de embarcação na ancoragem
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Estabilizador de embarcação na navegação
                    </label>
                </div>
            </div>

            <div class="column">
            </div>

        </div>


        <p class="panel-heading">
            Equipamento eletrônico
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Piloto automático
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Gerador
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> MP4
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> DVD player
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Radar
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> TV
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Auto-falantes no cockpit
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> GPS Plotter
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Inversor
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Odômetro
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> VHF
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Conexão iPod
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Sonda (eco-sonoro)
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Anemômetro
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> GPS Plotter no cockpit
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> TV em cada cabine
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Tomada 220V
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> WiFi a bordo
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> CD
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Computador
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Telefone por satélite
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> TV no salão
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> IPS
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Sistema de painel de energia solar
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Sistema de purificador de água
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Video game
                    </label>
                </div>
            </div>
        </div>


        <p class="panel-heading">
            Outros equipamentos
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Água quente
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Micro-ondas
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Bote auxiliar
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Colete salva-vidas
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Forno
                    </label>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Chuveiro no convés
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Mesa no cockpit
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Convés de teca
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Academia
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Aquecedor
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Louças
                    </label>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Ar condicionado
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Congelador
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Aquecedor no salão
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Cofre
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Cooler
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Cartas Náuticas
                    </label>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> USB/AUX
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Motor de popa
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Material de cozinha
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Fogão a gás
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Geladeira elétrica
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Elevador
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Serviço de Transfer
                    </label>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> A/C em cada cabine
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> A/C no salão
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Aquecedor em cada cabine
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Equipamento de segurança
                    </label>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Rádio Beacons Indicador de Posição de Emergência (EPIRB)
                    </label>
                </div>
            </div>

            <div class="column">
            </div>

        </div>

        <p class="panel-heading">
            Entretenimento aquático
        </p>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Jet ski
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Caiaque
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Equipamento de pesca
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Stand up paddle
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Boia Donut
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Seabob
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Boia Banana
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Skis aquáticos
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Windsurf
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Bicicleta
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Equipamento de snorkel
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Equipamento de mergulho
                    </label>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Skurfer
                    </label>
                </div>
            </div>

            <div class="column">
            </div>

            <div class="column">
            </div>

        </div>

        <p class="panel-heading">
            Tripulação
        </p>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Marinheiro
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Primeiro oficial
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Segundo oficial
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Chefe
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Comissária de bordo chefe
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Segunda comissária de bordo
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Terceira comissária de bordo
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Engenheiro chefe
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Auxiliar de marinheiro
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Segundo auxiliar de marinheiro
                    </label>
                </div>
            </div>
        </div>

        <p class="panel-heading">
            Idiomas falado
        </p>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Português
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Inglês
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Espanhol
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Francês
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Italiano
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Alemão
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Holandês
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Croata
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Russo
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Chinês
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Grego
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Árabe
                    </label>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox"> Turco
                    </label>
                </div>
            </div>
            <div class="column">
            </div>
        </div>


        <div class="columns">
            <div class="column">
                <div class="field">
                    <button type="submit" class="button is-outline is-primary" (click)="aprovarEmbarcacao()">
                        <span class="icon medium">
                            <fa-icon [icon]="faSave" size="fa-lg"> </fa-icon>
                        </span>
                        <span>Aprovar</span>
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>