<div class="form-container">
    <div class="row app-header">
        <div  class="col-sm">
          <h1 class="app-heading--title">Marcas</h1>
        </div>
        <div  class="col-sm app-header--actions">
          <button mat-raised-button color="primary" (click)="onNewApplicationClick()" >Adicionar uma Marca</button>
        </div>
    </div>

    <div class="row">
        <table mat-table [dataSource]="gridService" style="width:100%">
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>  Actions </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="onEditAccount(element)" style="margin-right: 10px;">edit</mat-icon>
                <mat-icon (click)="onDeleteAccount(element)">delete_outline</mat-icon>
                
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  
  </div>
