<form [formGroup]="reservaForm"> 

<div class="card">
    <header class="card-header">
    </header>

    <div class="card-content">
      <div class="content">

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Check-In</label>
              <div class="control">
                  <input class="input" type="text" placeholder="DD/MM/YYYY" plannerDatePicker  formControlName="date1">
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Checkout</label>
              <div class="control">
                <input class="input" type="text" placeholder="DD/MM/YYYY" plannerDatePicker formControlName="date2">
              </div>
            </div>
          </div>

        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Passageiros</label>
              <div class="control is-full">

                <div class="select">
                  <select>
                    <option> 1 passageiro + Marinheiro</option>
                    <option> 2 passageiros + Marinheiro </option>
                    <option> 3 passageiros + Marinheiro </option>
                    <option> 4 passageiros + Marinheiro </option>
                    <option> 5 passageiros + Marinheiro </option>
                    <option> 6 passageiros + Marinheiro </option>
                    <option> 7 passageiros + Marinheiro </option>
                    <option> 8 passageiros + Marinheiro </option>
                    <option> 9 passageiros + Marinheiro </option>
                    <option>10 passageiros + Marinheiro </option>
                    <option>11 passageiros + Marinheiro </option>
                    <option>12 passageiros + Marinheiro </option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label class="label">Meio período:</label>
          </div>
          <div class="column">
            <label class="label">00.00</label>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label class="label">Dia:</label>
          </div>
          <div class="column">
            <label class="label">00.00</label>
          </div>
        </div>
  
        <div class="columns">
          <div class="column">
            <label class="label">Semana:</label>
          </div>
          <div class="column">
            <label class="label">00.00</label>
          </div>
        </div>

      </div>

    </div>
    
    <footer class="card-footer">
      <a class="card-footer-item" (click)="enviarReserva()">Reservar</a>
    </footer>
  </div>
</form>
